.withoutbuttonback {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ChoosePlayer {
    margin: 25px;
}

.cell {
    margin: 10px;
}

.x {
    margin: 10px;

}