.withoutbuttonback {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ChoosePlayer {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: entry 0.5s forwards reverse;
}

@keyframes entry {
    0% {
        translate: 0 0;
    }

    100% {
        translate: 100% 0;
    }

}

.cell {
    margin: 10px;
}

.x {
    margin: 10px;

}

.buttonsubmit {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minititle {
    margin-top: -10px;
    margin-bottom: -20px;
}

.img {
    border: 3px solid white;
    border-radius: 100%;
    width: 110px;
}

.userName {
    color: white;
    font-size: 25px;
    margin-bottom: 5px;
    text-shadow: 3px 3px 0px #000000;
    -webkit-text-stroke: 1px #000000;
    text-align: center;
}

.players {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player1 {
    margin-right: -50px;
}

.player2 {
    margin-left: -50px;
}

.vs {
    transform: rotate(-18deg);
    margin-top: 30px;
    // z-index: -1;
}

.editAvatar {
    border-radius: 100%;
    width: 35px;
    position: absolute;
    top: 610px;
    z-index: 2;
}

.editAvatar {
    width: 40px;

}

.ButtonPlayAgain {
    margin-top: 100px;
}