img {
    // background: url("Assets - TicTacToe_Logo.png");
    // background-size: cover;
    width: 230px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.shadow {
    width: 230px;
    height: 70px;
    position: absolute;
    top: 50px;
    background-color: #23ACF9;
    border-radius: 1000px;
    box-shadow: 0px 0px 50px 50px #23ACF9;
    z-index: -10;
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}