.User {
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.img {
    border: 7px solid #ffffff;
    border-radius: 100%;
}

.userName {
    color: white;
    font-size: 30px;
    // margin-top: 10px;
    text-shadow: 3px 3px 0px #000000;
    -webkit-text-stroke: 1px #000000;
    text-align: center;
}

.wins {
    // border: 2px solid green;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.winumber {
    background-color: #000000;
    padding: 5px 20px;
    border-radius: 15px;
    font-size: 23px;
    position: absolute;
    right: 110px;
    margin-bottom: 7px;
}

.ooo {
    width: 100%;
    position: absolute;
    right: 65px;
    z-index: 2;
}